@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url("../fonts/Roboto-Light.ttf") format("woff2");
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("../fonts/roboto-regular-webfont.woff2") format("woff2");
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("../fonts/roboto-bold-webfont.woff2") format("woff2");
}

@font-face {
    font-family: "Gotham Pro";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("../fonts/GothaProReg.otf") format("woff2");
}

@font-face {
    font-family: "Gotham Pro";
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url("../fonts/GothaProMed.otf") format("woff2");
}

@font-face {
    font-family: "Gotham Pro";
    font-style: normal;
    font-weight: 200;
    font-display: swap;
    src: url("../fonts/GothaProLig.otf") format("woff2");
}

@font-face {
    font-family: "Gotham Pro";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("../fonts/GothaProBol.otf") format("woff2");
}

body {
    font-family: "Roboto";
    margin: 0;
}

.certificate {
    background-color: #fff;
    width: 1052px;
    height: 720px;
    display: flex;
}

.certificate .left {
    width: 50%;
    background-image: url("../img/cert-bg.webp");
    display: flex;
    align-items: center;
    justify-content: center;
}

.certificate .left img {
    width: 226px;
}

.certificate .right {
    width: 50%;
}

.certificate .right .content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 16px;
    padding-left: 175px;
}

.certificate .right .content .title {
    font-family: "Gotham Pro";
    font-size: 32px;
    font-weight: 700;
}

.certificate .right .content ul {
    list-style: none;
    padding: 0;
    margin-bottom: 0;
}

.certificate .right .content ul li {
    position: relative;
}

.certificate .right .content ul li .abs {
    position: absolute;
    right: 100%;
    font-size: 8px;
    margin-right: 10px;
    color: #B8B8B8;
    margin-top: -5px;
}

.certificate .right .content ul li .text {
    font-weight: 500;
}

.certificate .right .content ul li:not(:first-child) {
    margin-top: 20px;
}

.certificate .right .content p.info {
    padding-right: 20px;
    color: #B8B8B8;
    margin-bottom: 0;
    font-size: 10px;
    line-height: 16px;
}